.text-block{
    text-align:center;
    color:black;
}
.text-block h1{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text-block p{
    font-size: 18px;
    line height:
}
.para{
    text-align: justify;
}